body {
	margin:10% 20%;
	font-family:Newsreader, serif;
	font-size:18px;
}

.sidebar {
	width:100px;
	dispaly:absolute;
	float:right;
}

.title {
	font-family: Newsreader, Carrois Gothic, serif;
	font-size:40px;
	width:350px;
	display:block;
	float:left;
}

.title2 {
	font-family:Newsreader, Carrois Gothic, serif;
	font-size:26px;
	margin:100px 0 7px 10px;
	width:600px;
	display:block;
	float:left;
}

.subtitle {
	font-family:Newsreader, Carrois Gothic, serif;
	font-style:italic;
	width:1000px;
	margin:0 0 40px 10px;
	display:block;
	float:left;
}

.box {
	width:600px;
	line-height:1.2;
	margin:15px 0;
}

.photo {
	margin-top:30px;
}

.caption {
	font-style:italic;
	font-size:14px;
	width:605px;
	margin:3px 0 30px 0;
}

.star {
	text-align:center;
	font-family: Carrois Gothic, sans-serif;
	width:600px;
	margin:200px 0;
}
